@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #f9f9fc;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    min-height: 100vh;
    color: #eee6e6;
    overflow-y: overlay;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #896060;
    border-radius: 100px;
}

.topHeadlines .right .topNews::-webkit-scrollbar {
    width: 6px;
}

.topHeadlines .right .topNews::-webkit-scrollbar-thumb {
    background-color: #777;
}


.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 50px;
    background-color: #0b0b11;
    transition: 0.3s;
}

.header.sticky {
    padding: 10px;
    box-shadow: inset 0 -1.5px 3px rgba(255, 255, 255, 0.3);
}

.logo {
    font-size: 45px;
    font-weight: 700;
    cursor: pointer;
}

nav ul {
    display: flex;
}

nav div.bar {
    display: none;
    position: absolute;
    right: 80px;
    margin-top: -10px;
    font-size: 25px;
    cursor: pointer;
}

nav div.bar.active .open {
    display: none;
}

nav div.bar .close {
    display: none;
}

nav div.bar.active .close {
    display: initial;
}

nav ul li {
    list-style: none;
    margin: 0 15px;
    padding: 0 10px;
    border-left: 1px solid #fff0;
    border-right: 1px solid #fff0;
    transition: 0.3s;
}

nav ul li:hover {
    background-color: rgb(54, 120, 178);
    color: #000;
    border-radius: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #f8f7f7;
    letter-spacing: 1px;
}

.topHeadlines {
    padding: 100px 50px 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.topHeadlines .left {
    padding: 10px 30px;
}

.topHeadlines .left>.title {
    font-size: 40px;
    padding: 15px;
    color: #cd7c7c;
    text-align: center;
}

.topHeadlines .left .img {
    width: 100%;
    height: 600px;
    background-color: rgb(170, 127, 144);
}

.topHeadlines .left .img img {
    width: 100%;
    height: 100%;
}

.topHeadlines .left .text {
    padding: 20px 15px 10px;
}

.topHeadlines .left .text .title a {
    text-decoration: none;
}

.topHeadlines .left .text .title a h2 {
    font-size: 35px;
    color: #a26363;
    letter-spacing: 1px;
    display: inline;
    cursor: pointer;
}

.topHeadlines .left .text .title a h2:hover {
    text-decoration: underline;
}

.topHeadlines .left .text .abstract {
    font-size: 30px;
    margin-top: 10px;
    color: #aaa;
    letter-spacing: 1px;
}

.topHeadlines .right {
    padding: 10px;
    width: 1005;
    height: 700px;
}

.topHeadlines .right>.title {
    font-size: 30px;
    padding: 15px;
    text-align: center;
    color: #cd7c7c;
}

.topHeadlines .right .topNews {
    padding: 15px;
    margin: 20px;
    height: 85%;
    border: 1px solid #000;
    border-radius: 4px;
    overflow-y: scroll;
}

.topHeadlines .right .topNews .news {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-bottom: 20px;
    background: #000;
    border-radius: 20px;

}

.topHeadlines .right .topNews .news .img {
    width: 170px;
    height: 100%;
    max-height: 120px;
    min-height: 90px;
    background-color: #cd7c7c;
    border-radius: 15px;
}

.topHeadlines .right .topNews .news .img img {
    width: 95%;
    height: 95%;
    padding: 5px 0px 0px 10px;
    border-radius: 15px;
}

.topHeadlines .right .topNews .news .text {
    margin-inline: 10px;
    display: flex;
    align-items: left;
}

.topHeadlines .right .topNews .news .text .title a {
    text-decoration: none;
}

.topHeadlines .right .topNews .news .text .title a p {
    color: #fff;
    display: inline;
}

.topHeadlines .right .topNews .news .text .title a p:hover {
    text-decoration: underline;
}

.footer {
    width: 100%;
    padding: 50px 50px 0px;
    background-color: #0a0a18;
    min-height: 200px;
}

.footer .box {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}

.footer .box .left {
    display: flex;
    justify-content: space-around;
    padding-right: 20px;
}

.footer .box .left .aboutUsFooter>p {
    font-size: 28px;
    margin-bottom: 30px;
}

.footer .box .left .aboutUsFooter div {
    margin-bottom: 15px;
    width: max-content;
}

.footer .box .left .aboutUsFooter div p {
    font-size: 20px;
    color: #ddd;
    cursor: pointer;
    padding: 0 10px;
    border-left: 1px solid #fff0;
    border-right: 1px solid #fff0;
    transition: 0.3s;
}

.footer .box .left .aboutUsFooter div p:hover {
    color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.footer .contact {
    margin-left: 10px;
}

.footer .contact p {
    font-size: 28px;
    margin-bottom: 30px;
}

.footer .contact div {
    font-size: 17px;
    margin-bottom: 15px;
    color: #aaa;
}

.footer .icon {
    margin-top: 20px;
    padding: 20px;
}

.footer .icon i {
    font-size: 25px;
    margin-right: 20px;
    color: #aaa;
    cursor: pointer;
    transition: 0.3s;
}

.footer .icon i:hover {
    color: #fff;
    transform: scale(1.2);
}

.footer .newsletter p {
    font-size: 28px;
    margin-bottom: 30px;
}

.footer .newsletter .email {
    display: flex;
}

.footer .newsletter .email input {
    width: 400px;
    padding: 12px 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-right: 20px;
}

.footer .newsletter .email button {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border-color: #fff;
    border-style: solid;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.footer .newsletter .email button:hover {
    color: #0a0a18;
    background-color: #fff;
}

.footer .copyrights {
    font-size: 18px;
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
}